body{
    background-color: beige;
}
nav{
    justify-items: center;
    background-color: bisque;
}
h1{
    margin: 0%;
}
h3{
    margin: 0%;
}
.top{
    margin: 20px;
}
h2{
    margin: 0%;
}
p{
    margin: 0%;
}
